@import 'utilities.css';
@import 'fonts_import.css';

:root {
    --primary-purple: #455aa3;
    --primary-green: #40b281;
    --header-container-bg-color: #FFFFFF;
    --page-container-bg-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
    background-color: #ebefff;
    margin-top: 1em;
    margin-bottom: 1em;
    
}

.portfolio-container {
    border: solid 2px var(--primary-green);
}

.center-fit {
    /* max-width: 1070px; */
    margin: 0 auto;
}

.header-container {
    background: var(--header-container-bg-color);
    padding: 0 15px;
}

/* Navbar profile - Left */
.profile-name {
    color: var(--primary-purple);
    font-size: 46px;
}

.profile-title {
    color: var(--primary-green);
    font-size: 24px;
}
.profile-description {
    padding-top: 10px;
    font-size: 16px;
}

/* Navigation Bar General*/
nav {
    padding-top: 0em;
    padding-bottom: 1.2em;
}
.nav-left {
    /* padding: 0px 0px 10px 10px; */
    padding-top: 1em;
    margin-left: 20px;
}

.nav-center {
    /* padding: 0px 0px 10px 10px; */
    margin-top: 0em;
    padding-top: 1.5em;
    padding-right: 10em;

}

.nav-right {
    margin-right: 20px;
    padding-top:0em;
}


/* Navbar Portrait Image */
.circular-portrait {
    position: relative;
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 5px var(--primary-green);
  }
  
.circular-portrait img {
width: 100%;
height: auto;
}

/* Navbar Right */
.profile-content {
    position:relative;
    padding: 0 0 3px;
    font-size: 15px;
}

.profile-icon {
    display:inline;
    float:right;
    padding-left: 10px;
}

.profile-img {
    padding-left: 5px;
    width: 20px;
    height: 20px;
    float:right;
}

/* HR separator */
.hr-ruler {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid var(--primary-purple);
    padding: 0;
}

/* Page CSS */
.page-container {
    background-color: var(--page-container-bg-color);
    padding-bottom: 2em;
}

/* Page Left */
.page-left {
    padding-top: 1em;
    margin-left: 35px;
    margin-right: 30px;
}

.technical-title {
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 0.8em;
}

.technical-section-title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 0.5em;
}

.technical-section-tag {
    font-size: 20px;
}

.technical-section-body-title {
    font-size: 16px;
    font-style: italic;
    color:var(--primary-green);
    font-weight: bold;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
li {
    padding-left: 1em; 
    text-indent: -0.7em;
    padding-bottom: 0.5em;
    font-size: 14px;
}
  
li::before {
    content: "• ";
    color: var(--primary-green);
    padding-right: 10px;
}

  /* Education Section */
.education-title {
    font-weight: bold;
    font-size: 28px;
    padding-top: 0.9em;

}

.education-section-title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 0.2em;
}

.education-section-tag {
    font-size: 20px;
}

.education-section-body-title {
    font-size: 16px;
    font-style: italic;
    color:var(--primary-green);
    font-weight: bold;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

/* Page Right */
.page-right {
    margin-right: 35px;
}

/* Skills Section */
.skill-levels {
    font-weight: bold;
    font-size: 26px;
    padding-top: 3.2em;
    margin-bottom: 0.6em;
}

.skill-title {
    font-size: 22px;
    margin-bottom: 0.2em;

}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--primary-purple);
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.dot-empty {
    height: 25px;
    width: 25px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.skill-dots {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Projects Section */
.personal-projects {
    font-weight: bold;
    font-size: 27px;
    padding-top: 0.5em;
    margin-bottom: 0.6em;
}

.project-title {
    font-size: 20px;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.languages {
    font-weight: bold;
    font-size: 27px;
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.6em;
}

.language-name {
    font-size: 20px;
    padding-top: 0.6em;
    padding-bottom: 0.2em;
}

.language-proficiency {
    color: var(--primary-purple);
    font-style: italic;
}

.other-interests-section {
    font-weight: bold;
    font-size: 27px;
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.6em;
}

.interests-row {
    margin-bottom: 0.3em;
    margin-top: 0.6em;
}

.button-type1 {
    background-color: #fdfdfd;
    border: solid 3px var(--primary-purple);
    border-radius: 0.5rem;

    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 7px;
}